* {
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
    color: white;
}

html, body {
    height: 100%;
}

body {
    background-image: url(bg.jpg);
    background-size: cover;
}
.nav ul {
    display: inline-block;
    float: right;
}
.nav ul li {
    display: inline-block;
}